<footer class="footer">
  <div class="footer-content">
    <p class="copyright">&copy;{{ year }} Sergio</p>
    
    <ul class="footer-links">
      
     <li>
  <a href="https://www.instagram.com/sergioalegre.photo" target="_blank" rel="noopener noreferrer" title="Instagram">
    <img src="images/social/instagram.svg" alt="Instagram" class="social-icon" />
  </a>
</li>
<li>
  <a href="https://wa.me/4917629879338" target="_blank" rel="noopener noreferrer" title="Whatsapp">
    <img src="images/social/whatsapp.svg" alt="Whatsapp" class="social-icon" />
  </a>
</li>
<li>
  <a href="https://t.me/SerAlegre" target="_blank" rel="noopener noreferrer" title="Telegram">
    <img src="images/social/telegram.svg" alt="Telegram" class="social-icon" />
  </a>
</li>
<li>
  <a href="mailto:sergio@sergioalegre.com" target="_blank" rel="noopener noreferrer" title="Email">
    <img src="images/social/mail.svg" alt="Email" class="social-icon" />
  </a>
</li>

    </ul>
  </div>
</footer>
